* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-image: url(https://opengameart.org/sites/default/files/grass_template2_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    margin: .2em 1em;
    padding: .5em 1em .1em 1em;
    font-size: 70px;
}

.container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px;
    margin: 5rem;
}

.cell {
    border: 3px solid black;
    border-radius: 70%;
    background-color: #BC815F;

    cursor: pointer;

}


.cell-top {
    margin: 2rem 1rem 1rem 1rem;


}

.cell-bottom {
    display: flex;
    position: relative;
    left: 7rem;
    margin: 2rem 1rem 1rem 1rem;
    justify-content: space-between;


}

button {
    margin: 2em;
    padding: .3em 1em;
    font-size: 20px;
    background-color: #e67300;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.mole {
    background-image: url('../images/mole.png');
    background-size: cover;
}